extends layout

block content
  if(user)
    h1=user._id
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    if(leagues)
      .col-sm-6
        h2 Leagues
          ul
            each league in leagues
              li=league.name
    if(leagues)
      .col-sm-6
        h2 Teams
          ul
            each team in teams
              li=team.name
    if(leagues)
      .col-sm-6
        h2 Players
          ul
            each player in players
              li=player.name