<!DOCTYPE html>
<html ng-app="leagueApp">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>League</title>
  <!-- bower:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

<div ng-controller="appController">
  <div ui-view></div>
</div>


<!-- bower:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

</body>
</html>