<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>League</title>
  <!-- bower:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/dist/css/styles.css">
  <!-- endinject -->
</head>
<body>
<h1>Hello</h1>

<!-- bower:js -->
<script src="/dist/js/bower-files.js"></script>
<!-- endinject -->

<!-- inject:js -->
<script src="/dist/js/main.js"></script>
<script src="/dist/js/lib/bootstrap.min.js"></script>
<script src="/dist/js/lib/jquery-2.1.1.min.js"></script>
<!-- endinject -->
</body>
</html>